# **ESG - Post Medium**

***
## Crescimento nas pesquisas sobre o termo "ESG"
* **Google trends**
	* baixar o csv com os dados de 01/01/2010-31/12/2020 com as pesquisas do termo "ESG" no Brasil e no Mundo.

***
## Visualização da composição das carteira
* **Web scraping da composição da carteiras no site da B3**
	* Ibovespa - [IBOV](http://www.b3.com.br/pt_br/market-data-e-indices/indices/indices-amplos/ibovespa.html)
	* Indice de Sustentabilidade Empresarial - [ISE](http://www.b3.com.br/pt_br/market-data-e-indices/indices/indices-de-sustentabilidade/indice-de-sustentabilidade-empresarial-ise.html)
	* Indice Carbono Eficiente - [ICO2](http://www.b3.com.br/pt_br/market-data-e-indices/indices/indices-de-sustentabilidade/indice-carbono-eficiente-ico2.html)
* **Gráfico de visualização**

***
## Baixar dados de cotações diarias dos indices para visualizar o retorno ao longo do tempo
* **Investing (API) - [investpy](https://pypi.org/project/investpy/)**
* **plotar gráfico de linha para melhor visulização**

***

### Importations

In [32]:
import pandas as pd
pd.set_option('display.min_rows', 50)
pd.set_option('display.max_rows', 200)
import investpy as inv

### Crescimento nas pesquisas sobre o termo "ESG"

In [33]:
# Carregando dados csv baixados do google trends
trends_world = pd.read_csv('esg_mundo_2010-2020.csv', sep=',')

In [34]:
trends_world.columns = ['Data', 'Pesquisa pelo termo ESG']
trends_world['Data'] = pd.to_datetime(trends_world['Data'])
trends_world['Pesquisa pelo termo ESG'] = trends_world[
    'Pesquisa pelo termo ESG'].astype(float)
trends_world.head()

        Data  Pesquisa pelo termo ESG
0 2010-01-01                     35.0
1 2010-02-01                     32.0
2 2010-03-01                     33.0
3 2010-04-01                     33.0
4 2010-05-01                     28.0

In [ ]:
# Gerando gráfico
trends_world.plot('Data',
                  'Pesquisa pelo termo ESG',
                  figsize=(20, 7),
                  title='Busca pelo termo "ESG" no mundo',
                  grid=True)
plt.show()

In [35]:
# Carregando dados csv baixados do google trends
trends_brasil = pd.read_csv('esg_brasil_2010-2020.csv', sep=',')

In [36]:
trends_brasil.columns = ['Data', 'Pesquisa pelo termo ESG']
trends_brasil['Data'] = pd.to_datetime(trends_brasil['Data'])
trends_brasil['Pesquisa pelo termo ESG'] = trends_brasil[
    'Pesquisa pelo termo ESG'].astype(float)
trends_brasil.head()

        Data  Pesquisa pelo termo ESG
0 2010-01-01                     32.0
1 2010-02-01                     26.0
2 2010-03-01                      7.0
3 2010-04-01                      8.0
4 2010-05-01                     15.0

In [ ]:
# Gerando gráfico
trends_brasil.plot('Data',
                   'Pesquisa pelo termo ESG',
                   figsize=(20, 7),
                   title='Busca pelo termo "ESG" no Brasil',
                   grid=True)

plt.show()

### Visualização da composição das carteira

In [37]:
# Função para acessar os indices
def buscar_carteira_teorica(indice):
    url = 'http://bvmf.bmfbovespa.com.br/indices/ResumoCarteiraTeorica.aspx?Indice={}&amp;idioma=pt-br'.format(indice.upper())
    return pd.read_html(url, decimal=',', thousands='.', index_col='Código')[0][:-1]

In [38]:
# IBOVESPA
IBOV = buscar_carteira_teorica('IBOV')
IBOV.sort_values('Part. (%)', ascending=False).head()

                Ação      Tipo Qtde. Teórica  Part. (%)
Código
VALE3           VALE     ON NM    2837320141     12.246
ITUB4   ITAUUNIBANCO  PN EJ N1    4757466114      6.441
PETR4      PETROBRAS     PN N2    4566457037      5.731
B3SA3             B3     ON NM    1930877944      5.237
BBDC4       BRADESCO     PN N1    4261649634      4.938

In [39]:
# INDICE DE SUSTENTABILIDADE EMPRESARIAL
ISE = buscar_carteira_teorica('ISE')
ISE.sort_values('Part. (%)', ascending=False).head()

                Ação   Tipo Qtde. Teórica  Part. (%)
Código
WEGE3            WEG  ON NM     741148001     10.533
SUZB3    SUZANO S.A.  ON NM     724921241      7.453
PETR4      PETROBRAS  PN N2    1618637938      7.004
NTCO3   GRUPO NATURA  ON NM     841083922      6.628
PETR3      PETROBRAS  ON N2    1305861310      5.784

In [40]:
# INDICE DE CARBONO EFICIENTE
ICO2 = buscar_carteira_teorica('ICO2')
ICO2.sort_values('Part. (%)', ascending=False).head()

                Ação      Tipo Qtde. Teórica  Part. (%)
Código
ITUB4   ITAUUNIBANCO  PN EJ N1    5098496029      9.297
B3SA3             B3     ON NM    2221522263      8.116
BBDC4       BRADESCO     PN N1    4657874445      7.269
MGLU3    MAGAZ LUIZA     ON NM    3092801111      5.015
WEGE3            WEG     ON NM     864152480      4.797

### Baixar dados de cotações diarias dos indices para visualizar o retorno ao longo do tempo

In [41]:
# Lista de Indices
indices_list = inv.get_indices_list('Brazil')
indices_list

['MSCI Brazil Net USD',
 'DJ Brazil',
 'TR Brazil 50',
 'MSCI Brazil Price USD',
 'DJ Brazil Titans 20 ADR',
 'BNY Mellon Brazil ADR',
 'BNY Mellon Brazil ADR TR',
 'BNY Mellon Brazil Classic ADR',
 'BNY Mellon Brazil Classic ADR TR',
 'FTSE RAFI Brazil 50',
 'MSCI Brazil 10 40',
 'DJ BRIC Brazil 15 Capped NTR',
 'DJ BRIC Brazil 15 USD',
 'DJ BRIC Brazil 15 EUR',
 'FTSE Brazil Infrastructure Extended',
 'MSCI Brazil Gross',
 'DJ Brazil Titans 20 ADR TR',
 'MSCI Brazil 25-50 Price',
 'MSCI Brazil 20-50 Gross Return',
 'MSCI Brazil 25-50 Net Return',
 'FTSE Brazil Infrastructure Extended USD PR',
 'FTSE Brazil Infrastructure Extended Total Return',
 'FTSE Brazil Infrastructure Extended Net Tax Total',
 'FTSE Brazil Infrastructure Extended Net Tax USD TR',
 'DJ BRIC Brazil 15 DR',
 'MSCI Brazil',
 'BM&FBOVESPA Unsponsored BDRX',
 'Small Cap Index',
 'Tag Along',
 'Brazil broad-Based',
 'Brazil Index',
 'Mid-Large Cap Index',
 'Public Utilities',
 'BM&FBOVESPA Real Estate IFIX',
 'Financials',
 'Carbon Efficient',
 'Corporate Governance IGCNM',
 'Bovespa Dividend',
 'Brazil 50',
 'Corporate Gov Trade',
 'FTSE Brazil',
 'Ibovespa EUR',
 'Ibovespa USD',
 'IVBX',
 'IGCX',
 'Consumption',
 'Industrial Sector',
 'Electrical Energy',
 'Basic Materials',
 'Bovespa',
 'Corporate Sustainability',
 'Real Estate']

In [42]:
indices_overview = inv.get_indices_overview('Brazil')
indices_overview

,country,name,last,high,low,change,change_percentage,currency
0,brazil,Bovespa,117380.49,118317.52,116108.90,0.00,0.00%,BRL
1,brazil,Brazil 50,19486.75,19624.93,19242.97,0.00,0.00%,BRL
2,brazil,Tag Along,26231.32,26427.27,25932.18,0.00,0.00%,BRL
3,brazil,Brazil broad-Based,4675.76,4712.11,4623.54,0.00,0.00%,BRL
4,brazil,Brazil Index,49984.59,50366.86,49420.69,0.00,0.00%,BRL
5,brazil,Mid-Large Cap Index,2273.17,2288.59,2245.81,0.00,0.00%,BRL
6,brazil,Small Cap Index,2729.40,2768.19,2706.34,0.00,0.00%,BRL
7,brazil,Basic Materials,5791.50,5820.67,5696.84,0.00,0.00%,BRL
8,brazil,Electrical Energy,79325.78,79589.46,78411.69,0.00,0.00%,BRL
9,brazil,Industrial Sector,23897.44,24000.49,23613.14,0.00,0.00%,BRL
10,brazil,Consumption,5324.99,5372.03,5282.85,0.00,0.00%,BRL
11,brazil,Financials,11543.73,11672.00,11438.95,0.00,0.00%,BRL
12,brazil,Public Utilities,8233.78,8293.29,8097.69,0.00,0.00%,BRL
13,brazil,Real Estate,956.27,971.02,949.72,0.00,0.00%,BRL
14,brazil,BM&FBOVESPA Real Estate IFIX,2862.97,2870.98,2860.60,0.00,0.00%,BRL
15,brazil,BM&FBOVESPA Unsponsored BDRX,12608.99,12716.87,12370.18,+0.00,+0.00%,BRL
16,brazil,Carbon Efficient,2449.30,2469.74,2428.65,0.00,0.00%,BRL
17,brazil,Corporate Governance IGCNM,4360.70,4383.00,4310.52,0.00,0.00%,BRL
18,brazil,Bovespa Dividend,6513.52,6568.11,6453.22,0.00,0.00%,BRL
19,brazil,Corporate Gov Trade,5276.79,5316.43,5216.29,0.00,0.00%,BRL
20,brazil,Corporate Sustainability,4071.43,4107.65,4031.80,0.00,0.00%,BRL
21,brazil,FTSE Brazil,4449.49,4449.49,4449.49,0.00,0.00%,BRL
22,brazil,Ibovespa EUR,17665.73,18182.00,17568.83,-459.70,-2.54%,BRL
23,brazil,Ibovespa USD,21493.32,22256.86,21384.82,-552.18,-2.50%,BRL
24,brazil,IVBX,15989.28,16100.83,15840.29,0.00,0.00%,BRL
25,brazil,IGCX,19186.44,19315.46,18963.05,0.00,0.00%,BRL

In [43]:
IBOV = inv.get_index_historical_data('Bovespa', country='brazil', from_date='01/01/2010', to_date='31/12/2020')
IBOV.head()

                Open      High       Low     Close   Volume Currency
Date
2010-01-04  68587.16  70080.97  68587.16  70045.08  1655464      BRL
2010-01-05  70045.66  70594.55  69927.80  70239.81  1984118      BRL
2010-01-06  70236.50  70936.59  70016.47  70729.34  2243625      BRL
2010-01-07  70722.91  70722.91  70045.05  70451.12  1554951      BRL
2010-01-08  70455.23  70765.88  70158.13  70262.70  1634483      BRL

In [44]:
ISE = inv.get_index_historical_data('Corporate Sustainability', country='brazil', from_date='01/01/2010', to_date='31/12/2020')
ISE.head()

               Open     High      Low    Close  Volume Currency
Date
2010-01-04  1972.66  2012.95  1972.66  2008.39       0      BRL
2010-01-05  2008.38  2028.27  2007.55  2020.25       0      BRL
2010-01-06  2020.48  2032.72  2013.43  2023.91       0      BRL
2010-01-07  2023.92  2023.92  1995.01  2002.91       0      BRL
2010-01-08  2002.59  2005.02  1986.20  1996.54       0      BRL

In [45]:
CE = inv.get_index_historical_data('Carbon Efficient', country='brazil', from_date='01/01/2010', to_date='31/12/2020')
CE.head()

               Open     High      Low    Close  Volume Currency
Date
2010-09-01  1025.61  1025.61  1025.61  1025.61       0      BRL
2010-09-02  1014.89  1014.89  1014.89  1014.89       0      BRL
2010-09-03  1007.16  1007.16  1007.16  1007.16       0      BRL
2010-09-06  1003.63  1003.63  1003.63  1003.63       0      BRL
2010-09-08  1004.76  1004.76  1004.76  1004.76       0      BRL